<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hello!</h2>
                <hr class="light">
                <p class="text-faded">I'm a postdoc at UCL, comedian, festival comp&#233;re, Dungeons & Dragons streamer, and I've almost got a PhD. 
                <br>
                <br>
                I've worked in labs focused on vision, smell, and hearing so if you're interested in the science of sensation (or a science sensation?) then you're in the right place.
                <br>
                <br>
                As a black queer woman of Jamaican heritage, I'm passionate about celebrating the work and voices of marginalised people &#127752; &#9994;&#127999;&#10024;
                </p>
                <a href="#" class="btn btn-default btn-xl">Work With Me!</a>
            </div>
        </div>
    </div>
</section>
